:root {
    --teal: #00778a;
    --cream: #ffefb3;
}

body {
    background: var(--cream);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--teal);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Takes full height of the screen */
    margin: 0;
}

main {
    flex: 1; /* This pushes the footer to the very bottom */
}

/* Updated Navbar using Flexbox */
.navbar {
    background: url('dud.jpg');
    background-size: cover;
    background-position: top;
    color: var(--cream);
    padding: 30px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.7);
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.link-container{
    display: grid;
    background: var(--teal);
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-radius: 7px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: px;
    margin: 10px 5px;
    padding: 0;
    box-shadow: 0 5px 6px rgba(0,0,0,0.5);
    opacity: 0.7;
}

.links {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 10px 0;
    padding: 0;
}

.links a {
    margin-left: 20px;
    color: var(--cream);
    text-decoration: none;
    font-size: 13px;
    font-weight:bold;
    transition: 0.3s;
}

.links a:hover {
    color: black;
    border-bottom: 2px solid var(--cream);
    padding-bottom: 1px;
}

.links a.active {
    color: var(--cream);
    border-bottom: 2px solid ;
    padding-bottom: 1px;
}

audio{
    align-self: center;
    width: 80%;
    opacity: 0.5;
    margin-top: 10px;
    border-radius: 20px;
    border-left: 7px solid black;
    border-right: 7px solid black;
    transition: transform 0.2s;
}

audio:active{
  transform: scale(1.03);
}

.hero {
    text-align: center;
    padding: 15px 20px;
}

.table-container{
    display: grid;
    background: url(gh.jpg);
    background-position: cover;
    background-size: center;
    color: black;
    opacity: 0.8;
    justify-items: center;
    border-top: 5px solid gold;
    border-bottom: 5px solid black;
    border-left: 5px solid gold;
    border-right: 5px solid black;
    border-radius: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 20px px;
    padding: 5px 5px;
    box-shadow: 0 5px 6px rgba(0,0,0,0.5);
    font-size: 12px;
}

.main-footer {
    background: var(--teal);
    color: var(--cream);
    text-align: center;
    padding: 20px 10px;
    margin-top: 50px; /* Pushes it away from the content */
    font-size: 12px;
    border-top: 2px solid red;
}
