:root {
    --teal: #00778a;
    --cream: #ffefb3;
}

body {
    background: var(--cream);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--teal);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Takes full height of the screen */
    margin: 0;
}

main {
    flex: 1; /* This pushes the footer to the very bottom */
}

/* Updated Navbar using Flexbox */
.navbar {
    background: url('dud.jpg');
    background-size: cover;
    background-position: top;
    color: var(--cream);
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.7);
    border-bottom: 1px solid blue;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.links a {
    margin-left: 20px;
    color: var(--cream);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
}

.links a:hover {
    text-decoration: underline;
    opacity: 0.8;
    color: black;
}

.links a.active {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.highlight {
    border-block:  3px solid var(--teal);
    border-block-color: red;
    border-radius: 15px;
    padding: 3px;
}

.road-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 0 60px;
    padding: 0;
}

.road {
    background: url('logo.jpg');
    background-size: cover;
    background-position: center;
    color: var(--cream);
    padding: 2px;
    border-radius: 20px;
    box-shadow: 0 5px 6px rgba(0,0,0,0.5);
    transition: transform 0.1s;
    font-weight: bold;
    text-align: center;
    font-size: 7px;
}

.road:hover{
  transform: scale(1.07);
  border-left: 5px solid red;
  border-right: 5px solid gold;
  
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 60px;
    padding: 0;
}

.card {
    background: url('s.jpg');
    background-size: cover;
    background-position: top;
    color: var(--cream);
    padding: 2px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    transition: transform 0.5s;
    font-size: 15px;
    border-left: 4px solid red;
    border-right: 4px solid gold;
}

.card:hover {
    transform: translateY(-3px);
    font-weight: bold;
}

.main-footer {
    background: var(--teal);
    color: var(--cream);
    text-align: center;
    padding: 20px 10px;
    margin-top: 50px; /* Pushes it away from the content */
    font-size: 12px;
    border-top: 2px solid red;
}

.team-page {
    flex: 1;
    padding: 40px 20px;
    text-align: center;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 7px;
    margin-top: 30px;
}

.team-card {
    background: url('s.jpg');
    background-size: cover;
    background-position: top;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.7);
    border-left: 5px solid red;
    border-right: 5px solid gold;
    font-size: 12px;
    color: var(--cream);
    transition: transform 0.3s;
}

.team-card:hover{
  transform: scale(1.05);
  font-weight: bold;
}

.updates-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 0 60px;
    padding: 0;
}

.update {
    background: url('logo.jpg');
    background-size: cover;
    background-position: center;
    color: var(--cream);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 6px rgba(0,0,0,0.5);
    transition: transform 0.1s;
    font-weight: bold;
    text-align: center;
    font-size: 7px;
}

.update:hover{
  transform: scale(1.07);
  border-left: 5px solid red;
  border-right: 5px solid gold;
  
}

.feedback-container {
    background: linear-gradient(rgba(0, 119, 138, 0.3), rgba(0, 119, 138, 0.3)), 
                url('dudu.jpg');
    background-size: cover;
    background-position: center;
    text-align:  center;
    margin-top: 50px;
    margin-left:  10px;
    margin-right: 10px;
    color: #ffefb3;
    padding: 10px;
    border-radius: 20px;
    border-right: 4px solid blue;
    border-left: 4px solid red;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: transform 0.3s;
}

input {
    display: flex;
    justify-self: center;
    width: 290px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background: #ffeff4;
    border: none;
    transition: margin 0.5s;
}

button {
    font-weight: bold;
    width: 100px;
    justify-self: left;
    padding: 5px;
    background: white; /* A nice "Dragon Fruit" pink/red */
    color: gray;
    border: none;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}

input:hover{
    margin-bottom: 50px ;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.banner{
  text-align: center;
  margin: 30px;
  transition: transform 0.3s;
}
.banner:hover{
  transform: scale(1.07);
}

audio{
    margin-top: 20px;
    margin-left: 27px;
    margin-right: 30px;
    border-radius: 30px;
    border-left: 5px solid red;
    border-right: 5px solid blue;
    border-top: 5px solid red;
    border-bottom: 5px solid blue;
}
