:root {
    --teal: #00778a;
    --cream: #ffefb3;
}

body {
    background: var(--cream);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--teal);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Takes full height of the screen */
    margin: 0;
}

main {
    flex: 1; /* This pushes the footer to the very bottom */
}

.navbar {
    background: url('dud.jpg');
    background-size: cover;
    background-position: top;
    color: var(--cream);
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.7);
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.links a {
    margin-left: 20px;
    color: var(--cream);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
}

.links a:hover {
    text-decoration: underline;
    opacity: 0.8;
    color: black;
}

.main-footer {
    background: var(--teal);
    color: var(--cream);
    text-align: center;
    padding: 20px 10px;
    margin-top: 50px; /* Pushes it away from the content */
    font-size: 12px;
    border-top: 2px solid red;
}
.thanks{
    text-align: center;
    font-size: 30px;
}
.thanks-card{
    padding: 7px;
    background: linear-gradient(rgba(0, 119, 138, 0.3), rgba(0, 119, 138, 0.3)), 
                url('dudu.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    text-align:  center;
    margin-top: 30px;
    margin-left:  70px;
    margin-right: 70px;
    color: #ffefb3;
    border-radius: 30px;
    border-left: 4px solid red;
    border-right: 4px solid blue;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
